#nav li{
    list-style-type: none;
    display: inline;
    padding: 1rem;
    
}
#flex{
    display: flex;
}
#snap{
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    padding: 1rem;
    padding-top: 0.5rem;
    font-family: tahoma;

}